<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ball don't lie</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="../static/styles.css"></script>
  <link rel="stylesheet" href="../static/table_colors.css"></script>
  <link rel="icon" type="ico" href="/static/logo.ico">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.js"></script>
</head>
<body data-user-id="{{ g.user.id }}">
  <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ms-5 me-5">
      <a class="navbar-brand ms-5" href="/"><img src="/static/lebron_jr.jpg" style="max-height:25px"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">
          {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Log in</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/{{ g.user.id }}">{{ g.user.username }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/edit">Edit User
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ msg }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="../static/scripts.js"></script>
</body>
</html>