{% extends 'base.html' %}

{% block content %}
<div>
  <h1>Welcome back!</h1>
  <form method='post'>
    <h3>Please Login</h3>
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}    {% endfor %}
    <button>Login</button>
    <button>Cancel</button>
  </form>
</div>
{% endblock %}