{% extends 'base.html' %}

{% block content %}
  <h1>{{ team['full_name'] }}
    {% if team_ids is iterable %}
    <button class="btn btn-default like-team" data-team-id="{{ team['id']}}" >
      {% if team['id'] in team_ids %}
        <i class="fas fa-star"></i>
      {% else %}
        <i class="far fa-star"></i>
      {% endif %}
    </button>
    {% endif %}
  </h1>
  <div class='row mb-6'>
    <div class='col-6'>
      <p class='mt-2 mb-0'>Conference: {{ team['conference'] }}</p>
      <p>Division: {{ team['division'] }}</p>
    </div>
    <div class='col-6'>
      {% if team_ids %}
      <h5>Team Note</h5>
      <form method='post'>
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {{ field(class="form-control") }}
        {% endfor %}
        <button class="btn btn-primary mt-1">Submit</button>
      </form>
      {% endif %}
    </div>
  </div>
  <div class='row'>
    {% if games|length == 0 %}
    <h4>No Recent Games</h4>
    {% else %}
    <h3 class="mt-5">Latest Games</h3>
    {% if games %}
    {% for game in games %}
    <div class='col-sm-6 col-md-4 col-lg-2 mb-3'>
      <div class='card'>
        <div class='card-header text-center'>
          <h5>
            <a href="/team/{{ game['visitor_team']['id'] }}">
              {{ game['visitor_team']['abbreviation'] }} ({{ game['visitor_team_score'] }})
            </a>
          </h5>
          <p>@</p>
          <h5>
            <a href="/team/{{ game['home_team']['id'] }}">
            {{ game['home_team']['abbreviation'] }} ({{ game['home_team_score'] }})
            </a>
          </h5>
        </div>
        <div class='card-body'>
          <p class='mb-0'>{{ game['date'] }}</p>
          <a href="/game/{{ game['id'] }}">Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No game data</p>
    {% endif %}
    {% endif %}
    </div>
    {% for player in player_data %}
    <p>{{ player['first_name'] }} {{ player['last_name'] }}</p>
    {% endfor %}
    <form>
      <input type="button" value="&#8592 Back" onclick="history.back()">
    </form>
  </div>
{% endblock %}