{% extends 'base.html' %}

{% block content %}
<div>
  <h1>{{ user['username'] }}'s Favorites</h1>
  <h2>Favorite Players</h2>
  <ul>
    {% for player in players %}
    <li>
      <a href="/player/{{ player['id'] }}">
        {{ player['first_name']}} {{ player['last_name']}} - {{ player['team']['full_name']}}
      </a>
    </li>
      {% endfor %}
  </ul>
  <h2>Favorite Teams</h2>
  <ul>
    {% for team in teams %}
    <li>
      <a href="/team/{{ team['id'] }}">
        {{ team['name']}}, {{team['conference']}}ern Conference, {{ team['division'] }} division
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}